@* 
<table>
    <tr>
        <td>Approaching Pascha</td>
        <td>@(dateApproachingGreatLent)</td>
    </tr>
    <tr>
        <td>Clean Monday</td>
        <td>@(cleanMonday)</td>
    </tr>
    <tr>
        <td>Pascha</td>
        <td>@(pascha)</td>
    </tr>
    <tr>
        <td>After Pascha</td>
        <td>@(dateToHideRecentPascha)</td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>Approaching Nativity</td>
        <td>@(dateApproachingNativityFast)</td>
    </tr>
    <tr>
        <td>Nativity Fast Start</td>
        <td>@(firstDayOfNativityFast)</td>
    </tr>
    <tr>
        <td>Nativity</td>
        <td>@(nativity)</td>
    </tr>
    <tr>
        <td>After Nativity</td>
        <td>@(dateToHideRecentNativity)</td>
    </tr>
</table> *@


@{
    var holidayKind = GetHolidaySeasonKind();

    if (holidayKind == HolidaySeasonKind.None)
    {
        return;
    }
    else if (holidayKind == HolidaySeasonKind.Nativity)
    {
        <div class="holiday-banner">
            <div class="holiday-announcement">
                Today is Nativity!
            </div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.ApproachingNativityFast)
    {
        <div class="holiday-banner">
            <div class="begins-in-or-was-recent">
                Nativity fast begins in @(getDaysText((firstDayOfNativityFastDt - Date).TotalDays))
            </div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.NativityFast)
    {
        <div class="holiday-banner">
            <div class="holiday-fast">
                Nativity Fast
            </div>
            <div class="begins-in-or-was-recent">
                Nativity is in @(getDaysText(nativityDt.Subtract(Date.Date).TotalDays))
            </div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.RecentlyWasNativity)
    {
        <div class="holiday-banner">
            <div class="begins-in-or-was-recent">
                Nativity was @(getDaysText((Date - HolidayCalculator.GetLastNativity(DateOnly).ToDateTime()).TotalDays)) ago
            </div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.Pascha)
    {
        <div class="holiday-banner">
            <div class="holiday-banner">Today is Pascha!</div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.ApproachingGreatLent)
    {
        <div class="holiday-banner">
            <div class="begins-in-or-was-recent">
                Great Lent begins in @(getDaysText((cleanMondayDt - Date).TotalDays))
            </div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.GreatLent)
    {
        <div class="holiday-banner">
            <div class="holiday-fast">
                Great Lent
            </div>
            <div class="begins-in-or-was-recent">
                Pascha is in @(getDaysText(paschaDt.Subtract(Date.Date).TotalDays))
            </div>
        </div>
    }
    else if (holidayKind == HolidaySeasonKind.RecentlyWasPascha)
    {
        <div class="holiday-banner">
            <div class="begins-in-or-was-recent">
                Pascha was @(getDaysText((Date - HolidayCalculator.GetLastPascha(DateOnly).ToDateTime()).TotalDays)) ago
            </div>
        </div>
    }
}

@code {

    private string getDaysText(double days)
    {
        var intDays = (int)days;
        return $"{intDays:N0} day{(intDays == 1 ? "" : "s")}";
    }
}
