@page "/"

<PageTitle>Orthodox Prayer Helper App</PageTitle>

<div class="top-controls">
    <div>
        <input type="date" @bind-value="@(Date)">
    </div>
    <div>
        <LanguageSelector />
    </div>
    @if (HolidayCalculator.IsLent(DateOnly.FromDateTime(Date)))
    {
        var paschaDate = HolidayCalculator.GetPascha(Date.Year);
        <Note>It is Pascha Season (Pascha is in @(paschaDate.ToDateOnlyAtTime0().Subtract(Date.Date).TotalDays) days on @(paschaDate.ToString("MM/dd")))</Note>
    }
    else if (HolidayCalculator.IsNativityFast(DateOnly.FromDateTime(Date)))
    {
        <Note>It is Nativity Season (@(new DateOnly(Date.Year, 12, 25).ToShortDateString()))</Note>
    }
</div>

<div class="main-prayer-buttons">
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.MorningPrayer">
            Morning
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.EveningPrayer">
            Evening
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.Meal">
            Meal
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.Other">
            Other
        </ButtonLink>
    </div>

    @if (!choiceKindsWithNoRandom.Contains(MainPrayerChoice))
    {
        <div>
            <ButtonLink OnClick="() => NilsEventService.NotifyRandomClicked()"
                        BackgroundColor="@(StaticColors.LightBeige)">
                <DiceIcon />
            </ButtonLink>
        </div>
    }
</div>

<LoadingContainer IsLoading="IsLoading" ContainerStyle="width: 100%; min-height: 400px;">
    <div class="main-prayer-container">
        @switch (MainPrayerChoice)
        {
            case MainPrayerChoiceKind.MorningPrayer:
                <MorningPrayer Date="Date" />
                break;
            case MainPrayerChoiceKind.EveningPrayer:
                <EveningPrayer Date="Date" />
                break;
            case MainPrayerChoiceKind.Meal:
                <MealPrayer />
                break;
            case MainPrayerChoiceKind.Other:
                <OtherPrayers Date="Date" />
                break;
            default:
                <div>Select a prayer.</div>
                break;
        }
    </div>
</LoadingContainer>

@code {
}
